body {
  background: #333;
  color: #555;

  margin: 0 auto;
  max-width: 50em;

  font-family: cursive;

  line-height: 1.5;
  padding: 4em 1em;
}

pre {
  background: #555;
  padding: 20px 7.5px;

  color: beige;
}

marquee {
  color: rgb(92, 92, 92);
  font-family: monospace;
}
