body {
  background: #333;
  color: #555;

  margin: 0 auto;
  max-width: 50em;

  font-family: cursive;

  line-height: 1.5;
  padding: 4em 1em;
}

pre {
  background: #555;
  padding: 20px 7.5px;

  color: beige;
}

marquee {
  color: rgb(92, 92, 92);
  font-family: monospace;
}

			solid {
				border: 10px solid rgb(83, 24, 160);
			}

			dashed {
				border: 10px dashed rgb(21, 7, 146);
			}

			groove {
				border: 10px groove rgb(3, 83, 175);
			}
				
			ridge {
				border: 10px ridge rgb(140, 168, 14);
			}

			dotted {
				border: 10px dotted rgb(0, 196, 163);
			}	

			inset {
				border: 10px inset rgb(119, 17, 17);
			}	

			outset {
				border: 10px outset rgb(41, 34, 99);
			}
			
